@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* scrollbar track color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #43acaf; /* scrollbar thumb color */
    border-radius: 10px;
    border: 2px solid #f1f1f1;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #377c88 #f1f1f1;
  }
  